@import "../variable.scss";
.footer {
  color: white;
  background-color: $primaryColor;
  padding-top: 50px;
  padding-bottom: 70px;
  h5,
  p {
    margin: 0;
  }
  .footer-logo {
    img {
      width: 150px;
    }
  }
  .name__container {
    margin-top: 50px;
    padding: 10px 15px;
    background-color: white;
    color: rgba(1, 180, 228, 1);
    font-weight: 700;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
  }
}
