@import "../variable.scss";
.filter-top {
  .categories-container {
    border: 1px solid $primaryColor;
    border-radius: 30px;
    position: relative;
    .category-container {
      padding: 5px 17px;
      color: $primaryColor;
      cursor: pointer;
      font-weight: 500;
      p {
        margin: 0 !important;
      }
    }
    .selected {
      background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .category-overlay {
      position: absolute;
      background-color: $primaryColor;
      transition: transform 200ms ease-out;
      border-radius: 30px;
      // width: 80px;
      z-index: -1;
      height: 100%;
    }
  }
}

.for_trailer {
  margin-top: 30px !important;
  h4 {
    color: white;
  }
  .categories-container {
    border: 1px solid #1ed5a9;
    .selected {
      color: $primaryColor !important;
      background: none;
      -webkit-background-clip: inherit;
      -webkit-text-fill-color: inherit;
    }
    .category-overlay {
      background: linear-gradient(to right, rgba(192, 254, 207, 1) 0%, rgba(30, 213, 169, 1) 100%);
    }
  }
}
