.dot__container {
  position: absolute;
  border-radius: 50%;
  padding: 1px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  background-color: rgba(211, 211, 211, 0.897);
  cursor: pointer;
  img {
    width: 20px;
    border-radius: 50%;
  }
  background-color: lightgray;
}
.dot__container:hover {
  background-color: aqua;
}
